:where(.rootX) {
  font-size: var(--font-size-m);
  font-weight: 400;
  color: var(--gray-400, #a1a1aa);

  & section {
    max-inline-size: 90rem;
    margin-inline: auto;
    padding-inline: 1.25em;
    padding-block: 2em;

    display: grid;
    grid-template: auto auto / auto;
    align-items: center;
    gap: 1.5em;
  }

  & search {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    gap: 1em;
  }
}

@media only screen and (max-width: 600px) {
  .rootX {
    & search {
      display: grid;
      gap: 1ch;
      grid-template-columns: minmax(0, 1fr) 2em;
    }

    & section {
      padding-block: 1.25em;
      gap: 1em;
    }
  }
}
