:where(.rootX) {
  font-size: var(--font-size-m);
  background: var(--gray-700, #3f3f46);
  font-weight: 400;
  color: var(--gray-400, #a1a1aa);

  & footer {
    block-size: 100%;
    max-inline-size: 90rem;
    margin-inline: auto;
    padding-inline: 1.25em;
    padding-block: 2em;

    display: grid;
    grid-template: auto auto / auto;
    align-items: center;
    gap: 1.5em;

    & > div {
      display: grid;
      gap: 0.6rem;

      & span {
        font-size: 1.25rem;
      }
    }
  }

  & strong {
    color: var(--gray-300, #d4d4d8);
    font-size: 2rem;
  }

  & em {
    font-style: normal;
    color: var(--yellow-300, #fde047);
  }

  & small {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 600px) {
  .rootX footer {
    grid-template: auto / minmax(0, 1fr) auto;
    align-items: end;
    gap: 1ch;
  }
}
