.rootX {
  min-inline-size: 8em;
  font-size: var(--font-size-m);
  color: var(--gray-400, #a1a1aa);

  & > label {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);

    & > span {
      position: fixed;
      inset-inline-start: -100vw;
    }

    & input {
      grid-row: 1/-1;
      grid-column: 1/3;

      padding-block: 0.35em;
      padding-inline: 2em 1em;
      font-family: inherit;
      font-size: inherit;
      color: inherit;
      inline-size: 100%;

      border-radius: 0.125rem;
      border: 1px solid rgba(212, 212, 216, 0.5);
      background: var(--gray-600, #52525b);
    }

    & svg {
      grid-row: 1/-1;
      grid-column: 1/2;
      pointer-events: none;
      block-size: 60%;
      aspect-ratio: 1;
      opacity: 0.85;
      margin-inline: 0.5em;
      margin-block: auto;
    }
  }
}
